.Dashboard-container{
    display: 'flex';
    justify-content: 'space-between'; 
    align-items: 'center';
    margin-bottom: '1.5rem';
}
.overlay{
    position: 'fixed';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: 'gray';
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
}

.container {
    background-color: 'gray';
    padding: '2rem';
    border-radius: '0.5rem';
    min-width: '400px';
    position: 'relative';
}

.close-btn{
    position: 'absolute';
    top: '0.5rem';
    right: '0.5rem';
    background: 'none';
    border: 'none';
    font-size: '1.5rem';
    cursor: 'pointer';
    color: '#667';
}

