.Dashboard-container{
    display: 'flex';
    justify-content: 'space-between'; 
    align-items: 'center';
    margin-bottom: '1.5rem';
}
.overlay{
    position: 'fixed';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: 'gray';
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
}

.container {
  background: #5c3b0f;
  padding: 2rem;
  border-radius: 8px;
  min-width: 300px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  position: relative;
}



.close-btn{
    position: 'absolute';
    top: '0.5rem';
    right: '0.5rem';
    background: 'none';
    border: 'none';
    font-size: '1.5rem';
    cursor: 'pointer';
    color: '#667';
}

